---
---

/* Typography */
$serif-font: "adelle", serif;
$sans-serif-font: "adelle-sans", sans-serif;

$small-title-font-size: 13pt;
$small-subtitle-font-size: 9pt;
$small-header-link-font-size: 11pt;

$med-title-font-size: 16pt;
$med-subtitle-font-size: 9pt;
$med-header-link-font-size: 11pt;


/* Colors */
$gray-light: #818181;
$gray-lighter: lighten($gray-light, 30%);
$gray-dark: #3e3e3e;


@import "settings";
@import "../bower_components/foundation/scss/foundation";
@import "mixins";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

@import "custom";
