
.right-aligned {
  text-align: right;
}

.center-aligned {
  text-align: center;
}

.desktop-app-image {
  padding-top: 75px;
}

.medium-text-title-column {
  padding-top: 50px;
}

.medium-text-body-column {
  padding-top: 30px;
}

.footer {
  padding-bottom: 30px;
}