
.right-aligned {
  text-align: right;
}

.center-aligned {
  text-align: center;
}

.desktop-app-image {
  padding-top: 75px;
}

.medium-padding-top {
  padding-top: 40px;
}

.medium-text-title-column {
  padding-top: 50px;
}

.medium-text-body-column {
  padding-top: 30px;
}

.footer {
  padding-bottom: 30px;
}

.app-store-badge {
  padding: 30px;
  margin: 0px;
}

.faq {
  margin-top: 15px;
  margin-bottom: 20px;
}

.faq-list {
  font-family: $sans-serif-font;
}

.iphone-image-small {
  width: 317px;
  height: 300px;
  background: url('http://cdn.code.brianlundin.com/images/Quick-Grades-Mobile.png') no-repeat 0 0;
  @include image-2x('http://cdn.code.brianlundin.com/images/Quick-Grades-Mobile@2x.png', 317px, 300px);
}

.iphone-image {
  width: 328px;
  height: 600px;
  // float: left;
  background: url('http://cdn.code.brianlundin.com/images/Quick-Grades-Desktop.png') no-repeat 0 0;
  @include image-2x('http://cdn.code.brianlundin.com/images/Quick-Grades-Desktop@2x.png', 328px, 600px);
}